@font-face {
  font-family: 'Gotham-Black';
  src: url("../fonts/gotham/Gotham-Black.eot");
  src: url("../fonts/gotham/Gotham-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Black.woff2") format("woff2"), url("../fonts/gotham/Gotham-Black.woff") format("woff"), url("../fonts/gotham/Gotham-Black.ttf") format("truetype"), url("../fonts/gotham/Gotham-Black.svg#Gotham-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Ultra';
  src: url("../fonts/gotham/Gotham-Ultra.eot");
  src: url("../fonts/gotham/Gotham-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Ultra.woff2") format("woff2"), url("../fonts/gotham/Gotham-Ultra.woff") format("woff"), url("../fonts/gotham/Gotham-Ultra.ttf") format("truetype"), url("../fonts/gotham/Gotham-Ultra.svg#Gotham-Ultra") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/gotham/Gotham-Medium.eot");
  src: url("../fonts/gotham/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Medium.woff2") format("woff2"), url("../fonts/gotham/Gotham-Medium.woff") format("woff"), url("../fonts/gotham/Gotham-Medium.ttf") format("truetype"), url("../fonts/gotham/Gotham-Medium.svg#Gotham-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/gotham/Gotham-Bold.eot");
  src: url("../fonts/gotham/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Bold.woff2") format("woff2"), url("../fonts/gotham/Gotham-Bold.woff") format("woff"), url("../fonts/gotham/Gotham-Bold.ttf") format("truetype"), url("../fonts/gotham/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/gotham/Gotham-Book.eot");
  src: url("../fonts/gotham/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham/Gotham-Book.woff2") format("woff2"), url("../fonts/gotham/Gotham-Book.woff") format("woff"), url("../fonts/gotham/Gotham-Book.ttf") format("truetype"), url("../fonts/gotham/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 300;
  font-style: normal; }
