@font-face {
    font-family: 'MTD William Letter';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTD.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTD.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTD.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTD.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTD.svg#MTD') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MTD Balerno';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoRegular.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoRegular.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoRegular.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoRegular.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoRegular.svg#MTDBalernoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MTD Balerno';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoBold.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoBold.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoBold.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoBold.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoBold.svg#MTDBalernoBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MTD Balerno';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoLight.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoLight.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoLight.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoLight.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2021/11/sungroup/fonts/MTDBalernoLight.svg#MTDBalernoLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

