@font-face {
    font-family: 'SVN-Futura';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBold.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBold.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBold.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBold.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBold.svg#SVN-FuturaBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Futura';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaMedium.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaMedium.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaMedium.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaMedium.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaMedium.svg#SVN-FuturaMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Grahamo';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Grahamo.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Grahamo.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Grahamo.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Grahamo.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Grahamo.svg#SVN-Grahamo') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Futura';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBlack.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBlack.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBlack.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBlack.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-FuturaBlack.svg#SVN-FuturaBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Cyrano';
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Cyrano-Regular.eot');
    src: url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Cyrano-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Cyrano-Regular.woff') format('woff'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Cyrano-Regular.ttf') format('truetype'),
        url('https://stc-support-manage-brand.zdn.vn/medias/drive/2022/12/sungroup/fonts/SVN-Cyrano-Regular.svg#SVN-Cyrano-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

