$background       : #fafafa !default;

// Color Font
$color-base       : #24272b !default;
$color-main       : #b93a31  !default;
$color-second     : #68b1c4 !default;
$color-third      : #969ea3 !default;
$color-four       : #67737f !default;
$color-border     : #efefef !default;
$color-link       : $color-main !default;


$color-gray          : #6f6f6f !default;
$color-gray-1        : #273444 !default;
$color-gray-2        : #3C4858 !default;
$color-gray-3        : #8492A6 !default;
$color-gray-4        : #273444 !default;


$color-smoke         : #a1a1a1 !default; 
$color-dark-smoke    : #D3DCE6 !default;
$color-dark-smoke-ex : #C0CCDA !default;

$color-snow          : #F9FAFC !default;
$color-dark-snow     : #EFF2F7 !default;
$color-dark-snow-ex  : #E5E9F2 !default;

$color-success       : #33cc66 !default;
$color-error         : #fc4a4a !default;
$color-warning       : #FFC82C !default;

$white_text 		 : #fff;

// Font Style
$font-icon        : 'lazalo'!default;

// Page
// $base-font: $font-stack-system;
// $primary-font: $font-stack-helvetica;
// $main_sprites:"../images/main_sprites.png";
// $main_sprites_size: 50px 50px;
// $sidebar_sprites:"../images/sidebar-sprites.png";
// $sidebar_sprites-size: 200px 75px;
// $sidebar_sprites-pc:"../images/pc/sidebar-sprites-blue.png";
// $sidebar_sprites-size-pc: 200px 75px;
// $line-height:1.42857143;

$gutter : 30px;
// line-hright 
$line-heigt : 1.3;